<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=BaiHuogu_v2;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="DataProvider" value="Iridescent.OrmExpress" />
    <add key="DataProviderFactory" value="Iridescent.OrmExpress.DataProviderFactory" />
  </appSettings>
</configuration>